/* main css  */
html {
  font-size: 1.7vh;
}

body, html {
  padding: 0;
  margin: 0;
  background-color: #000000;
  color: #FFFFFF;
  font-family: sans-serif;
}

.cover-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('../../assets/images/cover-drum-kit.webp') center center;
  background-size: cover;
  overflow: hidden;
}

.keys {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: .5rem;
  padding: 1rem;
  margin: 1rem;
}

.key {
  border: .2rem solid #FFFFFF;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
  width: 8rem;
  height: 7.5rem;
  margin: 1rem;
  text-align: center;
  transition: all 0.1s ease;
}

.key[data-key=" "] {
  width: 70%;
  height: 7.5rem;
  margin: 1rem;

}

.playing {
  transform: scale(2);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
  background-color: rgba(0, 0, 0, 1);
}

kbd {
  font-size: 5rem;
  color: #FFFFFF;
  display: block;
}

.sound {
  color: #ffc600;
  font-size: 1.3rem;
}
